

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NetNinjaNode About</title>
        <!-- <link rel="stylesheet" href="./csss/style.css" type="text/css"> -->
        <!-- <script type="text/javascript" src="home.js"></script> -->
    </head>

    <body>

        <h1> ABOUT </h1>
        <p> Hi Net Node Ninjas </p>
        <p>This is an about page</p>

        <nav>
            <a href="/">Homepage</a>
            <a href="/about">About</a>
        </nav>

    </body>
</html>

